//COLOR
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #27b082;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7300;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$body-color: #f7f7f7;
$color-gray-light-1: #f7f7f7;

$color-text-gray: #777;
$color-text-gray-2: #999;
$color-text-gray-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
