.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.15);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  background-color: rgba($color-white, 0.6);
  font-size: $default-font;
  transform: skewX(-12deg);
  & > * {
    transform: skewX(12deg);
  }
  @include responsive(tab-port) {
    width: 100%;
    padding: 4rem;
    transform: skewX(0);
    & > * {
      transform: skewX(0deg);
    }
  }
  &__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    shape-outside: circle(60% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: skewX(12deg) translateX(-3rem);
    position: relative;
    transition: all 0.5s;
    @include responsive(tab-port) {
      transform: skewX(0deg) translateX(-3rem);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.5);
    backface-visibility: hidden;
    transition: all 0.5s;
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, 20%);
    color: $color-white;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    backface-visibility: hidden;
    @include responsive(phone) {
      font-size: 1.5rem;
    }
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(70%);
  }
  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
